<% if @volunteers.size > 0 %>
<table>
  <thead>
    <tr>
      <th class="blue header">Name</th>
      <th class="blue header">Email</th>
      <th class="blue header">Signups</th>
      <th class="blue header">Created</th>
    </tr>
  </thead>
  <% @volunteers.each do |volunteer| %>
  <tr>
    <td><%=link_to volunteer.name, volunteer %></td>
    <td><%= volunteer.email %></td>
    <td><%= volunteer.events.count %></td>
    <td><%= volunteer.created_at %></td>
  <tr>
<% end %>
</table>
<%= will_paginate @volunteers %>
<% end %>

