<h2>Upcoming Shifts</h2>
<table id="hor-minimalist-a">
  <tr>
    <th>Name</th>
    <th>Start</th>
    <th>End</th>
    <th>Capacity</th>
    <th>Signups</th>
  </tr>
<% @next_shifts.each do |shift| %>
  <tr>
    <td><%= link_to shift.title, event_path(shift) %></td>
    <td><%= shift.starttime.to_s :short %></td>
    <td><%= shift.endtime.to_s :short %></td>
    <td><%= shift.capacity %></td>
    <td><%= shift.spots_filled %></td>
  </tr>
<% end %>
</table>

<h2>Recent Shift Signups</h2>
<table id="hor-minimalist-a">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</td>
      <th>Event</th>
      <th>Start</th>
      <th>Signups</th>
      <th>Signed Up</th> 
    </tr>
  </thead>
<% @signups.each do |signup| %>
  <tr>
    <tbody>
      <td><%= link_to signup.user.name, user_path(signup.user) %></td>
      <td><%= signup.user.email %></td>
      <td><%= signup.event.title %></td>
      <td><%= signup.event.starttime.to_s :short %></td>
      <td><%= signup.event.spots_filled %></td>
      <td><%= time_ago_in_words signup.created_at %> ago</td>
    </tbody>
  </tr>
<% end %>
</table>

<h2>New Volunteers</h2>
<%= render 'users/table' %>

