<% if user_signed_in? %>
  <% if can? :create, Event %>
    <%=link_to 'Dashboard', dashboard_index_path, :class => 'small' %>
  <% end %>
  <%=link_to 'Calendar', events_path, :class => 'small' %>
  <% if can? :create, Event %>
    <%=link_to 'All Volunteers', users_path, :class => 'small' %>    
  <% end %>
  <span class="spacer"></span>
  <%= link_to('Account Settings', edit_user_registration_path, :class => 'small account') %>
<% else %>
  <%= link_to('Sign Up', new_user_registration_path, :class => 'small')  %>
  <%= link_to('Login', new_user_session_path, :class => 'small')  %>  
<% end %>
