<div id="Tabs">
  <% if can? :create, Event %> 
    <%= tabs_tag :open_tabs => {:id => 'MainTabs'} do |tab| %>
        <%= tab.dashboard 'Dashboard', dashboard_index_path %>
        <%= tab.shifts 'Shifts', shifts_path %>
        <%= tab.events 'Calendar', events_path %>
        <%= tab.volunteers 'Volunteers', users_path %>
    <% end %>
  <% else %>
    <%= tabs_tag :open_tabs => {:id => 'MainTabs'} do |tab| %>
        <%= tab.shifts 'Shifts', shifts_path %>
        <%= tab.events 'Calendar', events_path %>
        <%= tab.sign_up 'Sign Up', new_user_registration_path %>
        <%= tab.login 'Login', new_user_session_path %>
    <% end %>
  <% end %>
</div>