<%= content_for :title do %>
Sign Up
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-stacked'}) do |f| %>
  <%= devise_error_messages! %>

  <% if current_subdomain %>
    <%= f.hidden_field :subdomain_name, :value => current_subdomain.name %>
    <%= f.hidden_field :organization_name, :value => current_subdomain.organization %>
  <% else%>
  
  <div class="clearfix">
    <%= f.label :subdomain %>
    <div class="input">
      <%= f.text_field :subdomain_name %>
    </div>
  </div>
  
  <div class="clearfix">
    <p><%= f.label :organization %>
    <div class="input">
      <%= f.text_field :organization_name %>
    </div>
  </div>
  
  <% end %>

  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :email %>
    <div class="input">
      <%= f.text_field :email %>
    </div>
  </div>
  
  <div class="clearfix">
    <%= f.label :password %>
    <div class="input">
      <%= f.password_field :password %>
      <div class="help-inline">6 characters or longer is safest</div>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :password_confirmation %>
    <div class="input">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>

<div class="actions">
  <%= f.submit "Sign up", :class => 'btn primary' %>
</div>
<% end %>

<%= render :partial => "devise/shared/links" %>
