<% content_for :title do %>
Shifts
<% end %>
<%= form_for @shifts, {:method => :get} do |f| -%>
  
  View: 
  <select>
    <option>All Shifts</option>
  </select>
  
  <div class="pull-right">
  Find shifts: 
  <%= f.text_field :name %>
  <%= f.submit 'Go' %>
  </div>
  
<% end -%>
<%= datagrid_table(@shifts, @assets, :html => {:class => 'zebra-striped'}) %>
<%= will_paginate @assets %>