<table id="data">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</td>
      <th>Event</th>
      <th>Start</th>
      <th>Signups</th>
      <th>Signed Up</th> 
    </tr>
  </thead>
<% @signups.each do |signup| %>
  <tr class="<%= cycle("odd", "even") -%>">
      <td><%= link_to signup.user.name, user_path(signup.user) %></td>
      <td><%= signup.user.email %></td>
      <td><%= signup.event.title %></td>
      <td><%= signup.event.starttime.to_s :short %></td>
      <td><%= signup.event.spots_filled %></td>
      <td><%= time_ago_in_words signup.created_at %> ago</td>
  </tr>
<% end %>
</table>