<% content_for :title do %>
My Shifts
<% end %>
<% if @signups and @signups.size > 0 %>
<table>
  <thead>
    <th>Shift Name</th>
    <th>Time</th>
    <th>Total Signups</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @signups.each do |signup| %>
    <tr>
      <td><%= signup.event.title %></td>
      <td><%= signup.event.starttime %></td>
      <td><%= signup.event.signups_count %></td>
      <td>
        <%= link_to 'Cancel this shift', cancel_signup_event_path(signup), :class => 'button' %>
        <%= link_to 'Cancel all shifts', cancel_all_signups_event_path(signup) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @signups %>
<% end %>