<%= form_for @event, :url => {:action => :update}, :remote => true do |f| %>

<div class="modal-header">
  <a href="#" class="close">&times;</a>
  <h3>Editing an event</h3>
</div>

<div class="modal-body">
<%= render :partial => "form", :locals => { :f => f } %>
<%= f.hidden_field :commit_button %>
</div>


<div class="modal-footer">

<%unless  @event.repeat? -%>
  <%=f.submit 'Update', :class => 'btn primary', :onclick => "$('event_commit_button').value = this.value" %>
<%else-%>
  <%=f.submit 'Update Only This', :class => 'btn primary', :onclick => "$('event_commit_button').value = this.value"%>
  <%=f.submit 'Update All', :class => 'btn primary', :onclick => "$('event_commit_button').value = this.value"%>
  <%=f.submit 'Update Following', :class => 'btn primary', :onclick => "$('event_commit_button').value = this.value" %>
<%end-%>

</div>

<%end %>