<%= form_for @event, :url => {:action => :create}, :remote => true do |f| %>
<fieldset>
  <%=f.label :title %>
  <div class="input">
    <%=f.text_field :title %>
  </div>
  <%=f.label :description %>
  <div class="input">
  <%=f.text_area :description, :rows => 4, :cols => 30 %>
  </div>
  <%=f.label :starttime, 'Start Time' %>
  <div class="inline-inputs">
  <%=f.datetime_select :starttime, :default => 1.hour.from_now, :minute_step => 15, :ampm => true, :class => 'small' %>
  </div>
  <%=f.label :endtime, 'End Time' %>
  <div class="inline-inputs">
  <%=f.datetime_select :endtime, :default => 2.hour.from_now, :minute_step => 15, :ampm => true, :html_options => {:class => 'small'} %>
  </div>
  <%=f.label :all_day %>
  <div class="inline-inputs">
  <%=f.check_box :all_day %>
  </div>
  <%=f.label :capacity %>
  <div class="inline-inputs">
  <%=f.text_field :capacity, :class => 'mini' %>
  </div>
  <%=f.label :period, "Repeats" %>
  <%=f.select :period, Event::REPEATS,{}, :onchange => "showPeriodAndFrequency(this.value);" %>
<div id = "frequency" style = "display:none;">
  <%=f.label :frequency, "Repeat every" %>
  <%=f.select :frequency, (1..30).to_a %> <span id = "period"></span>
</div>
<%=f.hidden_field :id, :value => @event.id %>
  <%=f.submit 'Create' %> <span id = "creating_events" style = "display:none;">Creating, Please wait...</span>
</fieldset>
<%end %>