<h1><%= current_subdomain.organization %></h1>
<p>

</p>

<script>
  $(document).ready(function(){ 
    	$( ".button" ).button();
    	
    	var editable = <%= can? :edit, Event ? 'true' : 'false' %>;
       
      $('#calendar').fullCalendar({
          editable: editable,
          theme: true,
          header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
          },
          defaultView: 'month',
          height: 500,
          slotMinutes: 60,
          loading: function(bool){
              if (bool) 
                  $('#loading').show();
              else 
                  $('#loading').hide();
          },
          events: "/events/get_events",
          timeFormat: 'h:mm t{ - h:mm t} ',
          dragOpacity: "0.5",
          eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
                  moveEvent(event, dayDelta, minuteDelta, allDay);
          },
          
          eventResize: function(event, dayDelta, minuteDelta, revertFunc){
                  resizeEvent(event, dayDelta, minuteDelta);
          },
          
          eventClick: function(event, jsEvent, view){
              showEventDetails(event);
          },
      
      
      
      
      });
  });
  
  function showEventDetails(event){
      $('#event_desc').html(event.description);
      $('#signup_event').html("<a href ='/events/" + event.id + "/signup' class='button'>Signup for this event</a>");
      <% if can? :edit, Event %>
        $('#edit_event').html("<a href = 'javascript:void(0);' class='button' onclick ='editEvent(" + event.id + ")'>Edit</a>");
      <% end %>
      if (event.recurring) {
          title = event.title + "(Recurring)";
          $('#signup_recurring_event').html("<a href ='/events/" + event.id + "/signup_all' class='button'>Signup for all occurrences of this event</a>");
          
          <% if can? :edit, Event %>
          $('#delete_event').html("&nbsp; <a href = 'javascript:void(0);' class='button' onclick ='deleteEvent(" + event.id + ", " + false + ")'>Delete Only This Occurrence</a>");
          $('#delete_event').append("&nbsp;&nbsp; <a href = 'javascript:void(0);' class='button' onclick ='deleteEvent(" + event.id + ", " + true + ")'>Delete All In Series</a>")
          $('#delete_event').append("&nbsp;&nbsp; <a href = 'javascript:void(0);' class='button' onclick ='deleteEvent(" + event.id + ", \"future\")'>Delete All Future Events</a>")
          <% end %>
      }
      else {
        title = event.title;
        <% if can? :delete, Event %>
          $('#delete_event').html("<a href = 'javascript:void(0);' class='button' onclick ='deleteEvent(" + event.id + ", " + false + ")'>Delete</a>");
        <% end %>
      }
      $('#desc_dialog').dialog({
          title: title,
          modal: true,
          width: 500,
          close: function(event, ui){
              $('#desc_dialog').dialog('destroy')
          }
      }); 
    	$( ".button" ).button();

  }
</script>

<% if @signups and @signups.size > 0 %>
  <h2>Your upcoming shifts</h2>
  <% @signups.each do |signup| %>
    <p><%= signup.event.title %> at <%= signup.event.starttime %>
       <%= link_to 'Cancel this shift', cancel_signup_event_path(signup) %>
       <%= link_to 'Cancel all shifts', cancel_all_signups_event_path(signup) %>
    </p>
  <% end %>
  
  <br />
  <br />
  <br />

<% end %>

<div>
  <div id='calendar'>
  </div>
</div>
<div id = "desc_dialog" style ="display:none;">
  <div id = "event_desc">
  </div>
  <br/>
  <br/>
  <div id = "event_actions">
    <span id = "signup_event"></span>
    <span id = "signup_recurring_event"></span>
    <span id = "edit_event"></span>
    <span id = "delete_event"></span>
  </div>
</div>
<div id = "create_event_dialog" style ="display:none;">
  <div id = "create_event">
  </div>
</div>
