<% content_for :title do %>
Calendar
<% end %>

<p>
  <% if can? :create, Event %>

  
    <%= link_to 'Create Event', new_event_path, :remote => true, :id => 'create-event', :class => 'button' %>
  <% end %>
</p>


<div id="modal-from-dom" class="modal hide fade">
  <%= form_for @event, :url => {:action => :create}, :before => "$('#creating_events').show();", :complete => "$('#creating_events').hide();", :remote => true do |f| %>
  
  
  
            <div class="modal-header">
              New Event
            </div>

            <div class="modal-body">
              <p>
                <%=f.label :title %>
                <br/>
                <%=f.text_field :title %>
              </p>
              <p>
                <%=f.label :description %>
                <br/>
                <%=f.text_area :description, :rows => 4, :cols => 30 %>
              </p>
              <p>
                <%=f.label :starttime, 'Start Time' %>
                <br/>
                <%=f.datetime_select :starttime, :default => 1.hour.from_now, :minute_step => 15 %>
              </p>
              <p>
                <%=f.label :endtime, 'End Time' %>
                <br/>
                <%=f.datetime_select :endtime, :default => 2.hour.from_now, :minute_step => 15 %>
              </p>
              <p>
                <%=f.label :all_day %>
                <%=f.check_box :all_day %>
              </p>
              <p>
                <%=f.label :capacity %>
                <%=f.text_field :capacity %>
              </p>
              <p>
                <%=f.label :period, "Repeats" %>
                <%=f.select :period, Event::REPEATS,{}, :onchange => "showPeriodAndFrequency(this.value);" %>
              </p>
              <p id = "frequency" style = "display:none;">
                <%=f.label :frequency, "Repeat every" %>
                <%=f.select :frequency, (1..30).to_a %> <span id = "period"></span>
              </p>
              <%=f.hidden_field :id, :value => @event.id %>
            </div>
            <div class="modal-footer">
              <%=f.submit 'Create', :class => 'btn primary' %> 
            </div>

          </div>
          <%end %>
          

          <button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn danger">New Event</button>

<script>
  $(document).ready(function(){ 
           
      $('#calendar').fullCalendar({
          editable: false,
          header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
          },
          defaultView: 'month',
          height: 500,
          slotMinutes: 60,
          loading: function(bool){
              if (bool) 
                  $('#loading').show();
              else 
                  $('#loading').hide();
          },
          events: "/events/retrieve",
          timeFormat: 'h:mm t{ - h:mm t} ',
          dragOpacity: "0.5",
          eventDrop: function(event, dayDelta, minuteDelta, allDay, revertFunc){
                  moveEvent(event, dayDelta, minuteDelta, allDay);
          },
          
          eventResize: function(event, dayDelta, minuteDelta, revertFunc){
                  resizeEvent(event, dayDelta, minuteDelta);
          },
          
          eventClick: function(event, jsEvent, view){
              jQuery.ajax({
                  type: 'get',
                  url: "/events/" + event.id
              });
          },

      });
  });

</script>

<% if @signups and @signups.size > 0 %>
  <h2>Your upcoming shifts</h2>
  <% @signups.each do |signup| %>
    <p><%= signup.event.title %> at <%= signup.event.starttime %>
       <%= link_to 'Cancel this shift', cancel_signup_event_path(signup) %>
       <%= link_to 'Cancel all shifts', cancel_all_signups_event_path(signup) %>
    </p>
  <% end %>
  
  <br />
  <br />
  <br />

<% end %>



<div>
  <div id='calendar'>
  </div>
</div>
<div id="create_event_dialog"><div id="create_event"></div></div>
<div id = "desc_dialog" style ="display:none;">
  <div id = "event_desc">
  </div>
  <br/>
  <br/>
  <div id = "event_actions">
    <span id = "signup_event"></span>
    <span id = "signup_recurring_event"></span>
    <span id = "edit_event"></span>
    <span id = "delete_event"></span>
  </div>
</div>
