<% content_for :title do %>
Calendar
<% end %>

<p>
  <% if can? :create, Event %>  
    <%= link_to 'Create Event', new_event_path, :remote => true, :class => 'button' %>
  <% end %>
</p>

<script>
  $(document).ready(function(){ 
           
      $('#calendar').fullCalendar({
          editable: false,
          theme: true,
          header: {
              left: 'prev,next today',
              center: 'title',
              right: 'month,agendaWeek,agendaDay'
          },
          defaultView: 'month',
          height: 500,
          loading: function(bool){
              if (bool) 
                  $('#loading').show();
              else 
                  $('#loading').hide();
          },
          
          events: "/events/retrieve",
          timeFormat: 'h:mm t{ - h:mm t} ',
        
          
          eventClick: function(event, jsEvent, view){
    
              
              jQuery.ajax({
                  type: 'get',
                  url: "/events/" + event.id,
                  success: function() {
                    $(".ui-dialog").position({
                      my: "top",
                      at: "top",
                      of: jsEvent,
                      offset: "30"
                    }).fadeIn(); 
                  }
              });
              
              
               
            
             
               
              
          },

      });
  });


</script>

<% if @signups and @signups.size > 0 %>
  <h2>Your upcoming shifts</h2>
  <% @signups.each do |signup| %>
    <p><%= signup.event.title %> at <%= signup.event.starttime %>
       <%= link_to 'Cancel this shift', cancel_signup_event_path(signup) %>
       <%= link_to 'Cancel all shifts', cancel_all_signups_event_path(signup) %>
    </p>
  <% end %>
  
  <br />
  <br />
  <br />

<% end %>



<div>
  <div id='calendar'>
  </div>
</div>
<div id="create_event_dialog"><div id="create_event"></div></div>
<div id = "desc_dialog" style ="display:none;">
  <div id = "event_desc">
  </div>
  <br/>
  <br/>
  <div id = "event_actions">
    <span id = "signup_event"></span>
    <span id = "signup_recurring_event"></span>
    <span id = "edit_event"></span>
    <span id = "delete_event"></span>
  </div>
</div>
