$('#event_desc').html("<%= @event.description %>");

<% unless can? :edit, Event %>
	$('#signup_event').html("<a href ='/events/" + <%= @event.id %> + "/signup' class='button'>Signup for this event</a>");
<% end %>

<% if can? :edit, Event %>
  $('#edit_event').html("<a href = 'javascript:void(0);' class='button' onclick ='editEvent(" + <%= @event.id %> + ")'>Edit</a>");
<% end %>

<% if @event.repeat? %>
	<% unless can? :edit, Event %>
	$('#signup_recurring_event').html("<a href ='/events/" + <%= @event.id %> + "/signup_all' class='button'>Signup for all occurrences of this event</a>");
	<% end %>
	<% if can? :edit, Event %>
	$('#delete_event').html("&nbsp; <a href = 'javascript:void(0);' class='button' onclick ='deleteEvent(" + <%= @event.id %> + ", " + false + ")'>Delete Only This Occurrence</a>");
	$('#delete_event').append("&nbsp;&nbsp; <a href = 'javascript:void(0);' class='button' onclick ='deleteEvent(" + <%= @event.id %> + ", " + true + ")'>Delete All In Series</a>")
	$('#delete_event').append("&nbsp;&nbsp; <a href = 'javascript:void(0);' class='button' onclick ='deleteEvent(" + <%= @event.id %> + ", \"future\")'>Delete All Future Events</a>")
	<% end %>
<% else %>
	<% if can? :delete, Event %>
	  $('#delete_event').html("<a href = 'javascript:void(0);' class='button' onclick ='deleteEvent(" + <%= @event.id %> + ", " + false + ")'>Delete</a>");
	<% end %>	
<% end %>

$('#desc_dialog').dialog({
    title: "<%= @event.title %>",
	 draggable: false,
	 resizable: false,
    width: 600,
    close: function(event, ui){
        $('#desc_dialog').dialog('destroy')
    }
}); 


$( ".button" ).button();