<table id="data">
  <thead>
  <tr>
    <th>Name</th>
    <th>Start</th>
    <th>End</th>
    <th>Capacity</th>
    <th>Signups</th>
  </tr>
  </thead>
<% @shifts.each do |shift| %>
  <tr class="<%= cycle("odd", "even") -%>">
    <td><%= link_to shift.title, event_path(shift) %></td>
    <td><%= shift.starttime.to_s :short %></td>
    <td><%= shift.endtime.to_s :short %></td>
    <td><%= shift.capacity %></td>
    <td><%= shift.spots_filled %></td>
  </tr>
<% end %>
</table>