<!DOCTYPE HTML>
<head>
  <title></title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <%= stylesheet_link_tag    "reset" %>
  <%= stylesheet_link_tag    "text" %>
  <%= stylesheet_link_tag    "960_24_col" %>
  <%= javascript_include_tag "application" %>  
  <%= stylesheet_link_tag "application", 'fullcalendar' %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" %>
  <%= csrf_meta_tags %>
 </head>
<body>
  <div id="wrapper">
    <div id="content">
      <div class="header">
        <div class="container_24">
            <div class="links grid_16 prefix_2 alpha">
                <%= render 'devise/menu/registration_items' %>
                <%= render 'devise/menu/login_items' %>                                                             
            </div>
            <div class="logo grid_4 suffix_2 omega"><a href="/">VolunteerSurge</a></div>
        </div>
      </div>
      

      <div class="container_24">
        <div class="grid_20 prefix_2 suffix_2 alpha content">
          <p style="color: red"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" class="clearfix">
    <div class="container_24">
      VolunteerSurge
    </div>
  </div>
  <div id = "create_event_dialog" style ="display:none;">
    <div id = "create_event"></div>
  </div>
</body>
</html>